<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>predictions</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/predict" method="POST">
            <input type="number" name="s_length" placeholder="sepal length">
            <input type="number" name="s_width" placeholder="sepal width">
            <input type="number" name="p_length" placeholder="petal length">
            <input type="number" name="p_width" placeholder="petal length">
            <input type="submit">
        </form>

        {% if prediction %}
            <p>
                The type of flower is:: {{prediction}}
            </p>
        {% endif %}
    </body>
</html>